<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<style type="text/css">
</style>
</head>
<body>
<div data-role="page" id="home">
<div data-role="header">
<h1><roundcube:label name="mail" /> <roundcube:object name="username" /></h1>
<roundcube:button command="settings" label="settings" class="button-settings" />
<roundcube:button command="logout" label="logout" class="button-logout" />
<div data-role="navbar"><ul>
	<li><roundcube:object name="messageCountDisplay" class="countdisplay" aria-live="polite" aria-relevant="text" /></li>
	<li><roundcube:button command="firstpage" type="link" class="button firstpage disabled" classAct="button firstpage" classSel="button firstpage pressed" innerClass="inner" title="firstpage" label="first" /></li>
	<li><roundcube:button command="previouspage" type="link" class="button prevpage disabled" classAct="button prevpage" classSel="button prevpage pressed" innerClass="inner" title="previouspage" label="previous" /></li>
	<li><roundcube:button command="nextpage" type="link" class="button nextpage disabled" classAct="button nextpage" classSel="button nextpage pressed" innerClass="inner" title="nextpage" label="next" /></li>
	<li><roundcube:button command="lastpage" type="link" class="button lastpage disabled" classAct="button lastpage" classSel="button lastpage pressed" innerClass="inner" title="lastpage" label="last" /></li>
</ul></div><!-- data-role="navbar" end -->
</div><!-- data-role="header" end -->

<!-- messagelist start -->

<roundcube:object name="messages"
	id="mail_message_listing"
	cellspacing="0" columns=""
	summary="Message list" />

<!-- messagelist end -->


<div data-role="footer">
</div><!-- data-role="footer" end -->

</div><!-- data-role="page" id="home" end -->
</body>
</html>
